<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="alternate" type="application/atom+xml" href="https://f2r.github.io/feed/fr.xml" hreflang="fr" title="Flux Atom en français" />
    <link rel="alternate" type="application/atom+xml" href="https://f2r.github.io/feed/en.xml" hreflang="en" title="Atom feed in english" />
    {% include head-custom.html %}

{% seo %}

  </head>

  <body>

    <header>
      <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
        <hr>
        <p>Suivez-moi sur Bluesky: <a href="https://bsky.app/profile/bouchery.fr">@bouchery.fr</a></p>
        <p><a href="https://f2r.github.io/feed/en.xml">Atom feed in english</a> <img src="../img/rss.svg" id="rss" style="height: 1.1em; vertical-align: sub;"></p>
        <p><a href="https://f2r.github.io/feed/fr.xml">Flux Atom en français</a> <img src="../img/rss.svg" id="rss" style="height: 1.1em; vertical-align: sub;"></p>
      </section>
    </div>
  </body>
</html>
